{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container pt-100 mt-3">
    <div class="about-page">
        <h1 class="mb-4">About</h1>
        <div class="row mb-4">
            <div class="col-12 col-lg-6">
                <blockquote class="blockquote">
                    Virtual Agora offers a unique platform to facilitate constructive dialogue among
                    people of different views.
                </blockquote>
                <p>
                    In the ancient Greek democracies, people met in marketplaces called agoras to discuss community
                    issues and make collective decisions. Technology provides us with unprecedented easiness in
                    communicating. Paradoxically, most of our problems result from our inability to talk with each
                    other. We hope to change it at Virtual Agora. To accomplish that, we have adopted the following
                    principles:
                <ol>
                    <li>
                        The sky is the limit. There is no problem that we cannot fix by working together.
                    </li>
                    <li>
                        We invite writers presenting opposing views to participate in the Socratic dialogue. Please
                        write
                        down your ideas and submit them for the relentless scrutiny by others, and be equally exacting
                        in
                        your polemics with others.
                    </li>
                    <li>
                        We encourage polemics, which are the forgotten art of journalism. We can be ruthlessly critical
                        of one’s views and respectful at the same time.
                    </li>
                    <li>
                        We welcome responses to comments by readers, preferably in the form of a separate article.
                    </li>
                    <li>
                        At Virtual Agora, the power of argument rules. The arguments of power — be it fame, money,
                        political
                        influence, or the ability to block critics on Medium — do not apply here.
                    </li>
                    <li>
                        We work together to make our life better, on big political issues as much as on petty everyday
                        annoyances.
                    </li>
                </ol>
                </p>
                <p>
                    In media and in politics it is often assumed that there is some wisdom in the voice of the majority.
                    Prohibition is the best example that nonsense, even if agreed to by the majority and even if voted
                    into law, is still just nonsense. Opposite than in media and politics, at Virtual Agora we do not
                    try to find out what the majority thinks the truth is; we try to figure it out what the truth
                    actually is.
                </p>
                <p>
                    The truth is often not what we wish it would be. When listening to our opponents, we often sigh at
                    how
                    good it would be to stick to facts and follow logic. They do the same when listening to our
                    arguments.
                    Unfortunately, we rarely talk to each other respectfully. Our inability to speak candidly makes our
                    problems even worse, to the point that they seem unsolvable. We launched Virtual Agora with a
                    conviction
                    that we can change this damaging circle of political miscommunication.
                </p>

            </div>
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/buddha.jpg' %}" alt="grassland" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}