{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block topnav %}
{% endblock %}
{% block content %}
<div class="main">
  <img src="{% static 'img/greek.jpg' %}" class="img-fluid img-bg" alt="">
  <div class="content">
    <div class="container h-100">
      <nav class="navbar navbar-expand-lg py-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand bg-white" href="{% url 'virtual_agora_app:index' %}">Virtual Agora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars text-white p-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown me-lg-4">
                <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Quotes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:quote_list' %}">Quotes Library</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:philosopher_list' %}">Philosopers</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown me-lg-4">
                <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Posts
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:post_list' %}">All Posts</a></li>
                  {% if user.is_authenticated %}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:my_posts' %}">My Posts</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:post_create' %}">Create Post</a></li>
                  {% endif %}
                </ul>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item dropdown me-lg-4">
                <a class="nav-link text-white dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:profile' %}">View Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:my_posts' %}">My History</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'virtual_agora_app:my_posts' %}">Newsletter</a></li>
                </ul>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link text-white fw-bold me-lg-4" href="{% url 'virtual_agora_app:about' %}">About</a>
              </li>
              <li>
                <div class="d-none d-lg-block">
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="btn fancy-button fw-bold">Log Out</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn fancy-button fw-bold">Log In</a>
                  {% endif %}
                </div>
                <div class="d-block d-lg-none">
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="nav-link text-white fw-bold">Log Out</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="nav-link text-white fw-bold">Log In</a>
                  {% endif %}
                </div>

              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="center-form">
        <p>
          How are you feeling today?
        </p>
        <form id="mood_form" class="form-inline search-menu d-flex justify-content-between d-flex" method="post">
          {% csrf_token %}
          <input class="custom-input" type="text" name="mood" id="id_mood" maxlength="100">
          <button class="btn search-btn" type="submit">
            <em class="fa-solid fa-lg fa-search"></em>
          </button>
        </form>
        <div class="text-center mt-5">
          <button class="btn btn-lg btn-outline-light rounded-pill me-4 fw-bold my-2 happy-btn">Happy</button>
          <button class="btn btn-lg btn-outline-light rounded-pill me-4 fw-bold my-2 sad-btn">Sad</button>
          <button class="btn btn-lg btn-outline-light rounded-pill me-4 fw-bold my-2 angry-btn">Angry</button>
          <button class="btn btn-lg btn-outline-light rounded-pill me-4 fw-bold my-2 surprise-btn">Surprise</button>
          <button class="btn btn-lg btn-outline-light rounded-pill fw-bold my-2 fear-btn">Fear</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
  $(".custom-input").focusin(function () {
    $(".search-menu").addClass("custom-input-focused");
  });
  $(".custom-input").focusout(function () {
    $(".search-menu").removeClass("custom-input-focused");
  });
  $(".happy-btn").on("click", function () {
    $(".custom-input").val("happy");
    $("#mood_form").submit();
  });
  $(".sad-btn").on("click", function () {
    $(".custom-input").val("sad");
    $("#mood_form").submit();
  });
  $(".angry-btn").on("click", function () {
    $(".custom-input").val("angry");
    $("#mood_form").submit();
  });
  $(".surprise-btn").on("click", function () {
    $(".custom-input").val("surprise");
    $("#mood_form").submit();
  });
  $(".fear-btn").on("click", function () {
    $(".custom-input").val("fear");
    $("#mood_form").submit();
  });
</script>
{% endblock %}