{% extends "base.html" %}
{% load static %}

{% block title %}
My Posts
{% endblock %}

{% block content %}
<div class="container pt-100 mt-3">
    <h2 class="text-center mb-4">
        My Posts
        <hr>
    </h2>
    <div class="row post-list">
        {% for post in posts %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0">
                {% if post.image %}
                <img src="{{post.image.url}}" class="card-img-top" alt="...">
                {% else %}
                <img src="{% static 'img/statue.jpg' %}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <p class="card-title mb-2 h6">
                        <a href="{{ post.get_absolute_url }}" class="stretched-link text-decoration-none fw-bold">
                            {{ post.title }}
                        </a>
                    </p>
                    <div class="d-flex flex-wrap justify-content-between">
                        <p class="mb-2">
                            <b>{{post.author}}</b> - {{post.published_date|timesince}} ago
                        </p>
                        <p class="mb-2">
                            {% if post.status == "draft" %}
                            <span class="badge bg-primary">Draft</span>
                            {% endif %}
                        </p>
                    </div>
                    <p class="mb-0 text-end">
                        {{ post.estimated_reading_time }} minutes to read
                    </p>


                    {% if post.get_comments.count > 0 %}
                    <small>
                        {{ post.get_comments.count }}
                        {% if post.get_comments.count == 1 %}
                        Comment
                        {% else %}
                        Comments
                        {% endif %}
                    </small>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination justify-content-center mb-4">
        <span class="step-links py-3 bg-white">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="p-3 text-decoration-none">
                <i class="fa-solid fa-angles-left"></i>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="p-3 bg-primary text-white text-decoration-none">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            {% endif %}

            <span class="current p-3">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="p-3 bg-primary text-white text-decoration-none">
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="p-3 text-decoration-none">
                <i class="fa-solid fa-angles-right"></i>
            </a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}